@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@foreach (var item in Model)
{
    @*if (item > 50)
    {
        <span style="color:green">@item</span>
    }
    else
    {
        <span style="color:red">@item</span>
    }*@
    
    @NumbersHelpers.Baseline(item)
    
    
}